.arianne
{
  overflow: hidden;
  background-color: #111;
}

.arianne ul
{
  list-style-type: none; 
}

.arianne li
{
  padding: 10px;
  display: inline-block; 
  font-size: 25px;
  text-decoration: none;
}
